.topFilms {
  .title {
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  .ant-card {
    transform: scale(1);
    transition: all 300ms linear;
  }

  .ant-card:hover {
    transform: scale(1.05);
    transition: all 170ms linear;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: $tablet) {
      justify-content: start;
    }
  }

  .content_card {
    position: relative;
    overflow: hidden;

    &:hover .description {
      top: 0;
      left: 0;
      transition: all 350ms linear;
    }
  }

  .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 410px;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: white;
    color: black;

    transition: all 400ms linear;

    .rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
    }
  }
}
