.chosen {
  .favorite_movies {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .view_later {
    margin-top: 70px;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
