.footer {
  background-color: $rootColor;

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
}
/****** footer_link ******/
.footer_link {
  margin-top: 70px;

  @media screen and (min-width: $tablet) {
    margin-top: 0px;
  }

  .footer_h4 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $colorwhite;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      font-weight: 700;
    }
  }

  .footer_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
    padding-left: 0;

    @media screen and (max-width: 767px) {
      margin-bottom: 70px;
    }

    .item {
      width: 44px;
      height: 44px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
    }

    .social__networks {
      color: $networks;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      @extend %flex;

      &:hover {
        background-color: #c6343e;
        color: $colorwhite;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
