.search_content {
  .search {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      margin-top: 50px;
    }

    .search_content {
      display: flex;
      align-items: center;
    }

    input {
      width: 200px;
      height: 30px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      padding-left: 30px;

      @media screen and (min-width: $tablet) {
        width: 600px;
        height: 50px;
      }
    }

    .btn.btn-danger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 30px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 1px solid $rootColor;

      @media screen and (min-width: $tablet) {
        height: 50px;
      }

      .icon {
        width: 20px;
        height: 20px;

        @media screen and (min-width: $tablet) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: $tablet) {
      justify-content: start;
    }

    .content_card {
      position: relative;
      overflow: hidden;

      &:hover .description {
        top: 0;
        left: 0;
        transition: all 350ms linear;
      }
    }

    .description {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      position: absolute;
      top: 410px;
      left: 0;

      width: 100%;
      height: 100%;
      padding: 30px;
      background-color: #f6e8ea;
      color: #c6343e;

      transition: all 400ms linear;

      .rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
      }
    }
  }
}
